* {
	margin: 0;
	padding: 0;
}

.navbar {
	
}

.container {
	padding-top: 15px;
}

.navbar-title {
	font-size: 2.2rem;
}

.nav a {
	color: white;
}

.alert {
	display: none;
}

.alert-danger {
	font-weight: 700;
}

#border_yellow {
	outline: none;
}

/* body {
	max-width: 1200px;
	display: block;
	margin: 0 auto;
}

input {
	width: 75%;
	display: block;
	margin: 0 auto;
	margin-bottom: 25px;
	padding: 5px;
}

label {
	float: left;
	width: 10%;
} */